body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom_wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_width {
  display: flex;
  justify-content: start;
}
.custom_text_area:focus-visible{
  outline: none;
}
.custom_text_area{
  resize: none;
  width: auto;
  overflow: hidden;
  border-radius: 10px 10px 10px 2px;
  transition: .25s all;
}